.services-bnr {
    position: relative;
    width: 100%;
    height: 40vh;
    background: url(../img/banner22.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}


.accordion{
    margin-top: 30px;
}

.accordion-button {
    color: $bg-color;
}