
 *{
    @include all (0, 0);
 }

body {
    background: $bg-color;
    color: $text-color;
}

#menu-icon {
    color: $bg-color;
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

section {
    padding: 80px 18%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

button {

    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, $main-color, #88aeff);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}